@use './variables' as *;

.futio {
  background-color: black;
  padding: 60px 0;

  .row {
    justify-content: space-between;
  }

  .col-3 {
    padding: 15px;
    
    &>div {
      border: 0.1rem solid rgba(255, 255, 255, 0.199);
      padding: 30px 60px ;
      border-radius: 50px;
      text-align: center;

    }
  }

  h1 {
    text-align: center;
    font-size: $font-size-h1;
    margin-bottom: 30px;
  }

  .number {
    font-size: 50px;

  }

  .description {
    color: $color-text-h3;
    font-size: 12px;
  }
}