@use './variables' as *;

.trending-battle {
  width: 100%;
  height: 920px;
  background-color: $background-color-blue;

  .text-trending-battle {
    text-align: center;
    padding: 50px 0;

    h3 {
      color: $color-text-h3;
      font-size: $font-size-h3;
    }

    h1 {
      font-size: $font-size-h1;
      padding: 20px 0;
    }

    p {
      font-size: $font-size-p;
      color: $color-text-p;
    }
  }

  .match {

    &>.row {
      flex-wrap: wrap;
    }

    .col-6{

      .card {
        background-color: $background-color-card_match; 
        border-radius: 16px;

        .card-player {
          padding: 30px;

          &>.row {
            justify-content: space-between;
          }
        }
        
        .match-date {
          text-align: center;
          padding: 30px 0;
          background-color: $background-color-card_date;


          div {
            color: $color-text-h3;
            margin-top: 20px;
            
          }
        }

        .channels {

          padding: 30px;

          &>.row {
            align-items: center;
            justify-content: center;
            gap: 5px
          }

          div:nth-child(2) {
            padding-right: 30px;
          }

          img {
            width: 50px;
          }
        }
      }
    }




  }
}