@use './variables' as *;

.trending-battle {
  width: 100%;
  // height: 920px;
  background-color: $background-color-blue;

  .text-trending-battle {
    text-align: center;
    padding: 50px 0;

    h3 {
      color: $color-text-h3;
      font-size: $font-size-h3;
    }

    h1 {
      font-size: $font-size-h1;
      padding: 20px 0;
    }

    p {
      font-size: $font-size-p;
      color: $color-text-p;
    }
  }

  .match {

    &>.row {
      flex-wrap: wrap;
    }

    .col-6{

      padding: 20px;

    }
  }
}