@use './variables' as *;

.page-header {
  height: 90px;
  margin-bottom: -90px;

  .container, .row{
    height: 100%;
  }

  .row {
    justify-content: space-between;
    align-items: center;
  }

  .col.brand {
    img {
      height: 50px;
    }
  }

  .col.connections {

    .col {
      font-size: $font-size-header-connections;
    }

    .row {
      gap: 15px;
    }

  }

  .col.cart {

    .row {
      gap: 10px;
    }
    
    img {
      width: 35px;
      cursor: pointer;
    }
  }
}
