$font-size-header-connections: 18px;
$height-botton: 67px;
$background-color-button: #08CB7B;
$border-radius-button: 99999px;
$color-text-h3: #94CB53;
$font-size-h3: 24px;
$color-text-p: rgba(255, 255, 255, 0.433);
$font-size-p: 18px;
$font-size-h1: 75px;