$font-size-header-connections: 18px;
$height-botton: 67px;
$background-color-button: #08CB7B;
$border-radius-button: 99999px;
$color-text-h3: #94CB53;
$font-size-h3: 22px;
$color-text-p: rgba(255, 255, 255, 0.433);
$font-size-p: 16px;
$font-size-h1: 73px;
$background-color-blue: #212733;
$background-color-card_match: #28344A;
$background-color-card_date: #30405F;